@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,500;1,400&family=Roboto:wght@300;700;900&display=swap");
*,
html {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Kanit", ital;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 0 0 0;
  width: 100vw;
  overflow: hidden;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  float: left;
  position: fixed;
}

nav .img-logo {
  margin: 0 0 0 84px;
}

nav .img-logo img {
  height: 75px;
  width: 240px;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  list-style: none;
  width: 40%;
  margin: 0 130px 0 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

nav ul li a {
  text-decoration: none;
  font-weight: bold;
  color: #fff;
}

.section-1 {
  background-image: url("../assete/wallpaper/bg-section-1.jpg");
  background-repeat: no-repeat, repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.section-1 .content-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-1 .content-1 .title p {
  line-height: 1;
  font-size: 97px;
  color: #fff;
  font-family: "Roboto";
  font-weight: bold;
}

.section-1 .content-1 .subtitle-1 {
  margin: 20px 0 0 110px;
}

.section-1 .content-1 .subtitle-1 p {
  color: #fff;
  font-family: "Roboto";
  text-align: left;
  font-size: 18px;
  font-weight: 500;
}

.section-1 .content-1 .btn-content-1 {
  margin: 1rem 0 0 200px;
  width: 100%;
}

.section-1 .content-1 .btn-content-1 button {
  font-size: 1rem;
  font-weight: bold;
  font-family: "Roboto";
  letter-spacing: 3px;
  width: 182px;
  height: 60px;
  border-radius: 50px;
}

.section-1 .content-1 .btn-content-1 .btn-detail {
  text-align: center;
  margin-right: 28px;
  color: #fff;
  background: transparent;
  border: 2px solid white;
}

.section-1 .content-1 .btn-content-1 .btn-download {
  text-align: center;
  background: #fff;
  border: 2px solid #0193e9;
  color: #0193e9;
}

.section-1 .mobile-img {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  margin: 68px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.section-1 .mobile-img img {
  width: 994px;
  height: 1159px;
}

.section-2 {
  background-color: #fff;
  width: 100vw;
  height: 100vh;
}
/*# sourceMappingURL=style.css.map */